* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container,
.row {
  display: flex;
}

.container {
  height: 960px;
  width: 960px;
  border: 1px gray solid;
  flex-direction: column;
}
.row {
  display: flex;
}
